extends layout.pug

block content
        
    div.ui.center.aligned.container(style='margin: 50px')
        a.ui.massive.brown.basic.button(href='/secret') Secret
        a.ui.massive.blue.basic.button(href='/register') Register
        a.ui.massive.green.basic.button(href='/login') Log In
        a.ui.massive.red.basic.button(href="/logout") Log Out