doctype html
html
    head
        title User Auth - #{title}
        meta(charset='utf-8')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css')
    body
    
        div.ui.center.aligned.container(style='padding: 30px; margin: 20px; background-color: #B7E1FF')
            h1.ui.header User Auth using Node.js
            p Register and log in to view the coolest GIF on earth (in the secret page shhhhh...)
            
        block content