extends layout.pug

block content

    div.ui.container
    
        div.ui.segment
            p.ui.header Register
                form.ui.form(action='/register' method='POST')
                    div.field
                        input(type='text' placeholder='Username' name='user[username]' required)
                    div.field
                        input(type='password' placeholder='Password' name='user[password]' required)
                        
                    // for CSRF protection
                    input(type="hidden", name="_csrf", value=csrfToken)
                    
                    button.ui.large.primary.button(type='submit') Submit